.btn-flat {
	margin-top: 10px;
	margin-right: 10px;
	padding: 15px 40px;
	font-size: 14px;
	line-height: 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f06060;
  text-decoration: none;
}

.btn-red {
  background-color: #f06060 !important;
}

.btn-blue-light {
	background-color: $page-background-color !important;
	color: black;
}
