.filter-container {
  @extend .border;
  @extend .border-top-0;
  background-color: $filter-panel-background;
  padding-top: 2rem;
  padding-left: 1rem;
};

.home-content-container {
  @extend .border;
  @extend .border-top-0;
  padding: 1rem 2rem;
  background-color: $page-background-color;
};
